// 2024-07-08
// 1) "Move the mini-cart code to the `CabinetsBay_Core` module": https://github.com/cabinetsbay/site/issues/149
// 2) "Refactor the cart Less code": https://github.com/cabinetsbay/core/issues/18
// 2024-07-14 "Refactor the mini-cart Less code": https://github.com/cabinetsbay/core/issues/20
header.page-header > .header > .minicart-wrapper {
	position: absolute;
	right: 1em;
	top: 0; @media screen and (max-width: 680px) {top: 9px;}
	@import 'mini/_closed.less';
	@import 'mini/_open.less';
}