<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:framework:Event/etc/events.xsd'
>
<!-- 2024-04-15 "Add the current category level as a CSS class to `<body>`": https://github.com/cabinetsbay/core/issues/5 -->
	<event name='layout_load_before'>
		<observer instance='CabinetsBay\Core\Observer\LayoutLoadBefore' name='CabinetsBay\Core\Observer\LayoutLoadBefore'/>
	</event>
</config>