// 2024-05-19
// "Refactor `app/design/frontend/Cabinetsbay/cabinetsbay_default/web/css/source/_extend.less`":
// https://github.com/cabinetsbay/site/issues/119
@import '../_home.less';
// 2024-06-27 Dmitrii Fediuk https://upwork.com/fl/mage2pro
// "Refactor `app/design/frontend/Cabinetsbay/cabinetsbay_default/web/css/source/_extend.less`":
// https://github.com/cabinetsbay/site/issues/119
@import '../_header.less';
// 2024-04-26
// "The `checkout/cart` page should show prices before and after discounts (similar to the mini cart)":
// https://github.com/cabinetsbay/site/issues/143
.cb-new-price > .price {color: red;}
.cb-old-price {
    display: block; margin-top: 0.2em;
	> .price {font-size:90%; font-weight: normal; text-decoration: line-through;}
}